.footer {
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    background-color: #8F6E4D;
    width: 100%;
    height: 11.5%;
    min-height: 80px;
    left: 0;
}

.footer_icons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 70%;
    width: 50%;
    margin-left: 14px;
}

.footer_icon {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.footer_icon img {
    height: 24px;
    margin-right: 10px;
}

.footer_icon p {
    margin: 0;
    font-family: 'Jura', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #F0E3D4;
}

.img {
    position: absolute;
    height: 100%;
    width: auto;
    cursor: pointer;
}
